<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.MajorInfoDao">
    <resultMap id="BaseResultMap" type="com.csswust.patest2.entity.MajorInfo">
        <id column="maj_id" property="majId" jdbcType="INTEGER"/>
        <result column="major_name" property="majorName" jdbcType="VARCHAR"/>
        <result column="academy_id" property="academyId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        maj_id, major_name, academy_id, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from major_info
        where maj_id = #{majId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from major_info
        where maj_id = #{majId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csswust.patest2.entity.MajorInfo" useGeneratedKeys="true"
            keyProperty="majId">
        insert into major_info (major_name, academy_id, create_time,
        modify_time)
        values (#{majorName,jdbcType=VARCHAR}, #{academyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.csswust.patest2.entity.MajorInfo" useGeneratedKeys="true"
            keyProperty="majId">
        insert into major_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="majorName != null">
                major_name,
            </if>
            <if test="academyId != null">
                academy_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="majorName != null">
                #{majorName,jdbcType=VARCHAR},
            </if>
            <if test="academyId != null">
                #{academyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csswust.patest2.entity.MajorInfo">
        update major_info
        <set>
            <if test="majorName != null">
                major_name = #{majorName,jdbcType=VARCHAR},
            </if>
            <if test="academyId != null">
                academy_id = #{academyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where maj_id = #{majId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csswust.patest2.entity.MajorInfo">
        update major_info
        set major_name = #{majorName,jdbcType=VARCHAR},
        academy_id = #{academyId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where maj_id = #{majId,jdbcType=INTEGER}
    </update>
</mapper>