<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.ProblemSubmitDao" >
    <resultMap id="BaseResultMap" type="com.csswust.patest2.entity.ProblemSubmit" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="problem_id" property="problemId" jdbcType="INTEGER" />
        <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="SMALLINT" />
        <result column="time_used" property="timeUsed" jdbcType="INTEGER" />
        <result column="memory_used" property="memoryUsed" jdbcType="INTEGER" />
        <result column="judger_id" property="judgerId" jdbcType="INTEGER" />
        <result column="exam_id" property="examId" jdbcType="INTEGER" />
        <result column="paper_id" property="paperId" jdbcType="INTEGER" />
        <result column="paper_problem_id" property="paperProblemId" jdbcType="INTEGER" />
        <result column="ip" property="ip" jdbcType="CHAR" />
        <result column="print_request" property="printRequest" jdbcType="INTEGER" />
        <result column="new_subm_id" property="newSubmId" jdbcType="INTEGER" />
        <result column="new_status" property="newStatus" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.csswust.patest2.entity.ProblemSubmit" extends="BaseResultMap" >
        <result column="source" property="source" jdbcType="LONGVARCHAR" />
        <result column="extra" property="extra" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_id, problem_id, submit_time, `status`, time_used, memory_used, judger_id, 
        exam_id, paper_id, paper_problem_id, ip, print_request, new_subm_id, new_status
    </sql>
    <sql id="Blob_Column_List" >
        `source`, extra
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from problem_submit
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from problem_submit
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csswust.patest2.entity.ProblemSubmit" useGeneratedKeys="true" keyProperty="id" >
        insert into problem_submit (user_id, problem_id, submit_time, 
            `status`, time_used, memory_used, 
            judger_id, exam_id, paper_id, 
            paper_problem_id, ip, print_request, 
            new_subm_id, new_status, `source`, 
            extra)
        values (#{userId,jdbcType=INTEGER}, #{problemId,jdbcType=INTEGER}, #{submitTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=SMALLINT}, #{timeUsed,jdbcType=INTEGER}, #{memoryUsed,jdbcType=INTEGER}, 
            #{judgerId,jdbcType=INTEGER}, #{examId,jdbcType=INTEGER}, #{paperId,jdbcType=INTEGER}, 
            #{paperProblemId,jdbcType=INTEGER}, #{ip,jdbcType=CHAR}, #{printRequest,jdbcType=INTEGER}, 
            #{newSubmId,jdbcType=INTEGER}, #{newStatus,jdbcType=INTEGER}, #{source,jdbcType=LONGVARCHAR}, 
            #{extra,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.csswust.patest2.entity.ProblemSubmit" useGeneratedKeys="true" keyProperty="id" >
        insert into problem_submit
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="problemId != null" >
                problem_id,
            </if>
            <if test="submitTime != null" >
                submit_time,
            </if>
            <if test="status != null" >
                `status`,
            </if>
            <if test="timeUsed != null" >
                time_used,
            </if>
            <if test="memoryUsed != null" >
                memory_used,
            </if>
            <if test="judgerId != null" >
                judger_id,
            </if>
            <if test="examId != null" >
                exam_id,
            </if>
            <if test="paperId != null" >
                paper_id,
            </if>
            <if test="paperProblemId != null" >
                paper_problem_id,
            </if>
            <if test="ip != null" >
                ip,
            </if>
            <if test="printRequest != null" >
                print_request,
            </if>
            <if test="newSubmId != null" >
                new_subm_id,
            </if>
            <if test="newStatus != null" >
                new_status,
            </if>
            <if test="source != null" >
                `source`,
            </if>
            <if test="extra != null" >
                extra,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="problemId != null" >
                #{problemId,jdbcType=INTEGER},
            </if>
            <if test="submitTime != null" >
                #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="timeUsed != null" >
                #{timeUsed,jdbcType=INTEGER},
            </if>
            <if test="memoryUsed != null" >
                #{memoryUsed,jdbcType=INTEGER},
            </if>
            <if test="judgerId != null" >
                #{judgerId,jdbcType=INTEGER},
            </if>
            <if test="examId != null" >
                #{examId,jdbcType=INTEGER},
            </if>
            <if test="paperId != null" >
                #{paperId,jdbcType=INTEGER},
            </if>
            <if test="paperProblemId != null" >
                #{paperProblemId,jdbcType=INTEGER},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=CHAR},
            </if>
            <if test="printRequest != null" >
                #{printRequest,jdbcType=INTEGER},
            </if>
            <if test="newSubmId != null" >
                #{newSubmId,jdbcType=INTEGER},
            </if>
            <if test="newStatus != null" >
                #{newStatus,jdbcType=INTEGER},
            </if>
            <if test="source != null" >
                #{source,jdbcType=LONGVARCHAR},
            </if>
            <if test="extra != null" >
                #{extra,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csswust.patest2.entity.ProblemSubmit" >
        update problem_submit
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="problemId != null" >
                problem_id = #{problemId,jdbcType=INTEGER},
            </if>
            <if test="submitTime != null" >
                submit_time = #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                `status` = #{status,jdbcType=SMALLINT},
            </if>
            <if test="timeUsed != null" >
                time_used = #{timeUsed,jdbcType=INTEGER},
            </if>
            <if test="memoryUsed != null" >
                memory_used = #{memoryUsed,jdbcType=INTEGER},
            </if>
            <if test="judgerId != null" >
                judger_id = #{judgerId,jdbcType=INTEGER},
            </if>
            <if test="examId != null" >
                exam_id = #{examId,jdbcType=INTEGER},
            </if>
            <if test="paperId != null" >
                paper_id = #{paperId,jdbcType=INTEGER},
            </if>
            <if test="paperProblemId != null" >
                paper_problem_id = #{paperProblemId,jdbcType=INTEGER},
            </if>
            <if test="ip != null" >
                ip = #{ip,jdbcType=CHAR},
            </if>
            <if test="printRequest != null" >
                print_request = #{printRequest,jdbcType=INTEGER},
            </if>
            <if test="newSubmId != null" >
                new_subm_id = #{newSubmId,jdbcType=INTEGER},
            </if>
            <if test="newStatus != null" >
                new_status = #{newStatus,jdbcType=INTEGER},
            </if>
            <if test="source != null" >
                `source` = #{source,jdbcType=LONGVARCHAR},
            </if>
            <if test="extra != null" >
                extra = #{extra,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.csswust.patest2.entity.ProblemSubmit" >
        update problem_submit
        set user_id = #{userId,jdbcType=INTEGER},
            problem_id = #{problemId,jdbcType=INTEGER},
            submit_time = #{submitTime,jdbcType=TIMESTAMP},
            `status` = #{status,jdbcType=SMALLINT},
            time_used = #{timeUsed,jdbcType=INTEGER},
            memory_used = #{memoryUsed,jdbcType=INTEGER},
            judger_id = #{judgerId,jdbcType=INTEGER},
            exam_id = #{examId,jdbcType=INTEGER},
            paper_id = #{paperId,jdbcType=INTEGER},
            paper_problem_id = #{paperProblemId,jdbcType=INTEGER},
            ip = #{ip,jdbcType=CHAR},
            print_request = #{printRequest,jdbcType=INTEGER},
            new_subm_id = #{newSubmId,jdbcType=INTEGER},
            new_status = #{newStatus,jdbcType=INTEGER},
            `source` = #{source,jdbcType=LONGVARCHAR},
            extra = #{extra,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csswust.patest2.entity.ProblemSubmit" >
        update problem_submit
        set user_id = #{userId,jdbcType=INTEGER},
            problem_id = #{problemId,jdbcType=INTEGER},
            submit_time = #{submitTime,jdbcType=TIMESTAMP},
            `status` = #{status,jdbcType=SMALLINT},
            time_used = #{timeUsed,jdbcType=INTEGER},
            memory_used = #{memoryUsed,jdbcType=INTEGER},
            judger_id = #{judgerId,jdbcType=INTEGER},
            exam_id = #{examId,jdbcType=INTEGER},
            paper_id = #{paperId,jdbcType=INTEGER},
            paper_problem_id = #{paperProblemId,jdbcType=INTEGER},
            ip = #{ip,jdbcType=CHAR},
            print_request = #{printRequest,jdbcType=INTEGER},
            new_subm_id = #{newSubmId,jdbcType=INTEGER},
            new_status = #{newStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>