<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.ResultInfoDao" >
    <resultMap id="BaseResultMap" type="com.csswust.patest2.entity.ResultInfo" >
        <id column="resu_id" property="resuId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        resu_id, `name`, short_name, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from result_info
        where resu_id = #{resuId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from result_info
        where resu_id = #{resuId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csswust.patest2.entity.ResultInfo" useGeneratedKeys="true" keyProperty="resuId" >
        insert into result_info (`name`, short_name, create_time, 
            modify_time)
        values (#{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
            #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.csswust.patest2.entity.ResultInfo" useGeneratedKeys="true" keyProperty="resuId" >
        insert into result_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                `name`,
            </if>
            <if test="shortName != null" >
                short_name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null" >
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csswust.patest2.entity.ResultInfo" >
        update result_info
        <set >
            <if test="name != null" >
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null" >
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where resu_id = #{resuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csswust.patest2.entity.ResultInfo" >
        update result_info
        set `name` = #{name,jdbcType=VARCHAR},
            short_name = #{shortName,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where resu_id = #{resuId,jdbcType=INTEGER}
    </update>
</mapper>