<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.SubmitSimilarityDao">
    <resultMap id="BaseResultMap" type="com.csswust.patest2.entity.SubmitSimilarity">
        <id column="sub_sim_id" property="subSimId" jdbcType="INTEGER"/>
        <result column="exam_id" property="examId" jdbcType="INTEGER"/>
        <result column="submit_id1" property="submitId1" jdbcType="INTEGER"/>
        <result column="submit_id2" property="submitId2" jdbcType="INTEGER"/>
        <result column="similarity" property="similarity" jdbcType="DOUBLE"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        sub_sim_id, exam_id, submit_id1, submit_id2, similarity, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from submit_similarity
        where sub_sim_id = #{subSimId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from submit_similarity
        where sub_sim_id = #{subSimId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csswust.patest2.entity.SubmitSimilarity" useGeneratedKeys="true"
            keyProperty="subSimId">
        insert into submit_similarity (exam_id, submit_id1, submit_id2,
        similarity, create_time, modify_time
        )
        values (#{examId,jdbcType=INTEGER}, #{submitId1,jdbcType=INTEGER}, #{submitId2,jdbcType=INTEGER},
        #{similarity,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.csswust.patest2.entity.SubmitSimilarity" useGeneratedKeys="true"
            keyProperty="subSimId">
        insert into submit_similarity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examId != null">
                exam_id,
            </if>
            <if test="submitId1 != null">
                submit_id1,
            </if>
            <if test="submitId2 != null">
                submit_id2,
            </if>
            <if test="similarity != null">
                similarity,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="examId != null">
                #{examId,jdbcType=INTEGER},
            </if>
            <if test="submitId1 != null">
                #{submitId1,jdbcType=INTEGER},
            </if>
            <if test="submitId2 != null">
                #{submitId2,jdbcType=INTEGER},
            </if>
            <if test="similarity != null">
                #{similarity,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csswust.patest2.entity.SubmitSimilarity">
        update submit_similarity
        <set>
            <if test="examId != null">
                exam_id = #{examId,jdbcType=INTEGER},
            </if>
            <if test="submitId1 != null">
                submit_id1 = #{submitId1,jdbcType=INTEGER},
            </if>
            <if test="submitId2 != null">
                submit_id2 = #{submitId2,jdbcType=INTEGER},
            </if>
            <if test="similarity != null">
                similarity = #{similarity,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sub_sim_id = #{subSimId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csswust.patest2.entity.SubmitSimilarity">
        update submit_similarity
        set exam_id = #{examId,jdbcType=INTEGER},
        submit_id1 = #{submitId1,jdbcType=INTEGER},
        submit_id2 = #{submitId2,jdbcType=INTEGER},
        similarity = #{similarity,jdbcType=DOUBLE},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where sub_sim_id = #{subSimId,jdbcType=INTEGER}
    </update>
</mapper>