<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.SubmitResultDao" >
    <resultMap id="BaseResultMap" type="com.csswust.patest2.entity.SubmitResult" >
        <id column="sub_res_id" property="subResId" jdbcType="INTEGER" />
        <result column="submit_id" property="submitId" jdbcType="INTEGER" />
        <result column="test_id" property="testId" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="used_time" property="usedTime" jdbcType="INTEGER" />
        <result column="used_memory" property="usedMemory" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.csswust.patest2.entity.SubmitResult" extends="BaseResultMap" >
        <result column="err_msg" property="errMsg" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        sub_res_id, submit_id, test_id, `status`, used_time, used_memory, create_time, modify_time
    </sql>
    <sql id="Blob_Column_List" >
        err_msg
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from submit_result
        where sub_res_id = #{subResId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from submit_result
        where sub_res_id = #{subResId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csswust.patest2.entity.SubmitResult" useGeneratedKeys="true" keyProperty="subResId" >
        insert into submit_result (submit_id, test_id, `status`, 
            used_time, used_memory, create_time, 
            modify_time, err_msg)
        values (#{submitId,jdbcType=INTEGER}, #{testId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
            #{usedTime,jdbcType=INTEGER}, #{usedMemory,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
            #{modifyTime,jdbcType=TIMESTAMP}, #{errMsg,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.csswust.patest2.entity.SubmitResult" useGeneratedKeys="true" keyProperty="subResId" >
        insert into submit_result
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="submitId != null" >
                submit_id,
            </if>
            <if test="testId != null" >
                test_id,
            </if>
            <if test="status != null" >
                `status`,
            </if>
            <if test="usedTime != null" >
                used_time,
            </if>
            <if test="usedMemory != null" >
                used_memory,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
            <if test="errMsg != null" >
                err_msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="submitId != null" >
                #{submitId,jdbcType=INTEGER},
            </if>
            <if test="testId != null" >
                #{testId,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="usedTime != null" >
                #{usedTime,jdbcType=INTEGER},
            </if>
            <if test="usedMemory != null" >
                #{usedMemory,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="errMsg != null" >
                #{errMsg,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csswust.patest2.entity.SubmitResult" >
        update submit_result
        <set >
            <if test="submitId != null" >
                submit_id = #{submitId,jdbcType=INTEGER},
            </if>
            <if test="testId != null" >
                test_id = #{testId,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="usedTime != null" >
                used_time = #{usedTime,jdbcType=INTEGER},
            </if>
            <if test="usedMemory != null" >
                used_memory = #{usedMemory,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="errMsg != null" >
                err_msg = #{errMsg,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where sub_res_id = #{subResId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.csswust.patest2.entity.SubmitResult" >
        update submit_result
        set submit_id = #{submitId,jdbcType=INTEGER},
            test_id = #{testId,jdbcType=INTEGER},
            `status` = #{status,jdbcType=INTEGER},
            used_time = #{usedTime,jdbcType=INTEGER},
            used_memory = #{usedMemory,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            err_msg = #{errMsg,jdbcType=LONGVARCHAR}
        where sub_res_id = #{subResId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csswust.patest2.entity.SubmitResult" >
        update submit_result
        set submit_id = #{submitId,jdbcType=INTEGER},
            test_id = #{testId,jdbcType=INTEGER},
            `status` = #{status,jdbcType=INTEGER},
            used_time = #{usedTime,jdbcType=INTEGER},
            used_memory = #{usedMemory,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where sub_res_id = #{subResId,jdbcType=INTEGER}
    </update>
</mapper>