<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.ExamInfoDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM exam_info
        WHERE 1 = 1
            <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.title != null">
            AND
            title = #{record.title}
        </if>
        <if test="record.startTime != null">
            AND
            start_time = #{record.startTime}
        </if>
        <if test="record.endTime != null">
            AND
            end_time = #{record.endTime}
        </if>
        <if test="record.allowIp != null">
            AND
            allow_ip = #{record.allowIp}
        </if>
        <if test="record.allowJudgerIds != null">
            AND
            allow_judger_ids = #{record.allowJudgerIds}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.modifyUserId != null">
            AND
            modify_user_id = #{record.modifyUserId}
        </if>
        <if test="record.description != null">
            AND
            description = #{record.description}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM exam_info
        WHERE 1 = 1
            <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.title != null">
            AND
            title = #{record.title}
        </if>
        <if test="record.startTime != null">
            AND
            start_time = #{record.startTime}
        </if>
        <if test="record.endTime != null">
            AND
            end_time = #{record.endTime}
        </if>
        <if test="record.allowIp != null">
            AND
            allow_ip = #{record.allowIp}
        </if>
        <if test="record.allowJudgerIds != null">
            AND
            allow_judger_ids = #{record.allowJudgerIds}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.modifyUserId != null">
            AND
            modify_user_id = #{record.modifyUserId}
        </if>
        <if test="record.description != null">
            AND
            description = #{record.description}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from exam_info
        where exam_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from exam_info
        where exam_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </select>
    <select id="insertBatch" parameterType="java.util.Map">
        insert into exam_info
        (title, start_time, end_time, allow_ip, allow_judger_ids, create_time, modify_time, modify_user_id, description) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.title}, #{item.startTime}, #{item.endTime}, #{item.allowIp}, #{item.allowJudgerIds}, #{item.createTime}, #{item.modifyTime}, #{item.modifyUserId}, #{item.description})
        </foreach>
    </select>
</mapper>
