<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.JudgerInfoDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM judger_info
        WHERE 1 = 1
        <if test="record.judId != null">
            AND
            jud_id = #{record.judId}
        </if>
        <if test="record.name != null">
            AND
            name = #{record.name}
        </if>
        <if test="record.repr != null">
            AND
            repr = #{record.repr}
        </if>
        <if test="record.commentPrefix != null">
            AND
            comment_prefix = #{record.commentPrefix}
        </if>
        <if test="record.suffix != null">
            AND
            suffix = #{record.suffix}
        </if>
        <if test="record.enabled != null">
            AND
            enabled = #{record.enabled}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        ORDER BY jud_id DESC
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM judger_info
        WHERE 1 = 1
        <if test="record.judId != null">
            AND
            jud_id = #{record.judId}
        </if>
        <if test="record.name != null">
            AND
            name = #{record.name}
        </if>
        <if test="record.repr != null">
            AND
            repr = #{record.repr}
        </if>
        <if test="record.commentPrefix != null">
            AND
            comment_prefix = #{record.commentPrefix}
        </if>
        <if test="record.suffix != null">
            AND
            suffix = #{record.suffix}
        </if>
        <if test="record.enabled != null">
            AND
            enabled = #{record.enabled}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        ORDER BY jud_id DESC
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from judger_info
        where jud_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from judger_info
        where jud_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>