<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.PaperProblemDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM paper_problem
        WHERE 1 = 1
        <if test="record.papProId != null">
            AND
            pap_pro_id = #{record.papProId}
        </if>
        <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.examPaperId != null">
            AND
            exam_paper_id = #{record.examPaperId}
        </if>
        <if test="record.examParamId != null">
            AND
            exam_param_id = #{record.examParamId}
        </if>
        <if test="record.problemId != null">
            AND
            problem_id = #{record.problemId}
        </if>
        <if test="record.order != null">
            AND
            order = #{record.order}
        </if>
        <if test="record.lastSubmitTime != null">
            AND
            last_submit_time = #{record.lastSubmitTime}
        </if>
        <if test="record.submitId != null">
            AND
            submit_id = #{record.submitId}
        </if>
        <if test="record.isAced != null">
            AND
            is_aced = #{record.isAced}
        </if>
        <if test="record.usedTime != null">
            AND
            used_time = #{record.usedTime}
        </if>
        <if test="record.submitCount != null">
            AND
            submit_count = #{record.submitCount}
        </if>
        <if test="record.score != null">
            AND
            score = #{record.score}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM paper_problem
        WHERE 1 = 1
        <if test="record.papProId != null">
            AND
            pap_pro_id = #{record.papProId}
        </if>
        <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.examPaperId != null">
            AND
            exam_paper_id = #{record.examPaperId}
        </if>
        <if test="record.examParamId != null">
            AND
            exam_param_id = #{record.examParamId}
        </if>
        <if test="record.problemId != null">
            AND
            problem_id = #{record.problemId}
        </if>
        <if test="record.order != null">
            AND
            order = #{record.order}
        </if>
        <if test="record.lastSubmitTime != null">
            AND
            last_submit_time = #{record.lastSubmitTime}
        </if>
        <if test="record.submitId != null">
            AND
            submit_id = #{record.submitId}
        </if>
        <if test="record.isAced != null">
            AND
            is_aced = #{record.isAced}
        </if>
        <if test="record.usedTime != null">
            AND
            used_time = #{record.usedTime}
        </if>
        <if test="record.submitCount != null">
            AND
            submit_count = #{record.submitCount}
        </if>
        <if test="record.score != null">
            AND
            score = #{record.score}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from paper_problem
        where pap_pro_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from paper_problem
        where pap_pro_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>