<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.SubmitResultDao">
    <select id="selectByCondition" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM submit_result
        WHERE 1 = 1
        <if test="record.subResId != null">
            AND
            sub_res_id = #{record.subResId}
        </if>
        <if test="record.submitId != null">
            AND
            submit_id = #{record.submitId}
        </if>
        <if test="record.testId != null">
            AND
            test_id = #{record.testId}
        </if>
        <if test="record.status != null">
            AND
            status = #{record.status}
        </if>
        <if test="record.usedTime != null">
            AND
            used_time = #{record.usedTime}
        </if>
        <if test="record.usedMemory != null">
            AND
            used_memory = #{record.usedMemory}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.errMsg != null">
            AND
            err_msg = #{record.errMsg}
        </if>
        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM submit_result
        WHERE 1 = 1
        <if test="record.subResId != null">
            AND
            sub_res_id = #{record.subResId}
        </if>
        <if test="record.submitId != null">
            AND
            submit_id = #{record.submitId}
        </if>
        <if test="record.testId != null">
            AND
            test_id = #{record.testId}
        </if>
        <if test="record.status != null">
            AND
            status = #{record.status}
        </if>
        <if test="record.usedTime != null">
            AND
            used_time = #{record.usedTime}
        </if>
        <if test="record.usedMemory != null">
            AND
            used_memory = #{record.usedMemory}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.errMsg != null">
            AND
            err_msg = #{record.errMsg}
        </if>
        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from submit_result
        where sub_res_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from submit_result
        where sub_res_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="insertBatch" parameterType="java.util.Map">
        insert into submit_result
        (submit_id, test_id, status, used_time, used_memory, create_time, modify_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.submitId}, #{item.testId}, #{item.status}, #{item.usedTime}, #{item.usedMemory}, #{item.createTime},
            #{item.modifyTime})
        </foreach>
    </select>
</mapper>