<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.SubmitSimilarityDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM submit_similarity
        WHERE 1 = 1
        <if test="record.subSimId != null">
            AND
            sub_sim_id = #{record.subSimId}
        </if>
        <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.submitId1 != null">
            AND
            submit_id1 = #{record.submitId1}
        </if>
        <if test="record.submitId2 != null">
            AND
            submit_id2 = #{record.submitId2}
        </if>
        <if test="record.similarity != null">
            AND
            similarity = #{record.similarity}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        ORDER BY sub_sim_id DESC
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM submit_similarity
        WHERE 1 = 1
        <if test="record.subSimId != null">
            AND
            sub_sim_id = #{record.subSimId}
        </if>
        <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.submitId1 != null">
            AND
            submit_id1 = #{record.submitId1}
        </if>
        <if test="record.submitId2 != null">
            AND
            submit_id2 = #{record.submitId2}
        </if>
        <if test="record.similarity != null">
            AND
            similarity = #{record.similarity}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        ORDER BY sub_sim_id DESC
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from submit_similarity
        where sub_sim_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from submit_similarity
        where sub_sim_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>