<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.SubmitSimilarityDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM submit_similarity
        WHERE 1 = 1
            <if test="record.subSimId != null">
            AND
            sub_sim_id = #{record.subSimId}
        </if>
        <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.problemId != null">
            AND
            problem_id = #{record.problemId}
        </if>
        <if test="record.submitId1 != null">
            AND
            submit_id1 = #{record.submitId1}
        </if>
        <if test="record.submitId2 != null">
            AND
            submit_id2 = #{record.submitId2}
        </if>
        <if test="record.similarity != null">
            AND
            similarity = #{record.similarity}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.modifyUserId != null">
            AND
            modify_user_id = #{record.modifyUserId}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM submit_similarity
        WHERE 1 = 1
            <if test="record.subSimId != null">
            AND
            sub_sim_id = #{record.subSimId}
        </if>
        <if test="record.examId != null">
            AND
            exam_id = #{record.examId}
        </if>
        <if test="record.problemId != null">
            AND
            problem_id = #{record.problemId}
        </if>
        <if test="record.submitId1 != null">
            AND
            submit_id1 = #{record.submitId1}
        </if>
        <if test="record.submitId2 != null">
            AND
            submit_id2 = #{record.submitId2}
        </if>
        <if test="record.similarity != null">
            AND
            similarity = #{record.similarity}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.modifyUserId != null">
            AND
            modify_user_id = #{record.modifyUserId}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from submit_similarity
        where sub_sim_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from submit_similarity
        where sub_sim_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </select>
    <select id="insertBatch" parameterType="java.util.Map">
        insert into submit_similarity
        (exam_id, problem_id, submit_id1, submit_id2, similarity, create_time, modify_time, modify_user_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.examId}, #{item.problemId}, #{item.submitId1}, #{item.submitId2}, #{item.similarity}, #{item.createTime}, #{item.modifyTime}, #{item.modifyUserId})
        </foreach>
    </select>



    <resultMap id="Map2" type="com.csswust.patest2.vo.SimExportVo">
        <id column="exam" property="exam" jdbcType="VARCHAR"/>
        <result column="problem" property="problem" jdbcType="VARCHAR"/>
        <result column="student" property="student" jdbcType="VARCHAR"/>
        <result column="follow" property="follow" jdbcType="VARCHAR"/>
        <result column="src" property="src" jdbcType="VARCHAR"/>
        <result column="src2" property="src2" jdbcType="VARCHAR"/>
        <result column="sim" property="sim" jdbcType="DOUBLE"/>
    </resultMap>
    <select id="querySimByExamId" resultMap="Map2" parameterType="java.util.Map">
        select t2.title as exam, concat(t3.prob_id,'-',t3.title) as problem,
        concat(user1.student_number,'-',user1.real_name) as student, concat(user2.student_number,'-',user2.real_name) as follow,
        sub1.source as src, sub2.source as src2, t1.similarity as sim
        from submit_similarity t1, exam_info t2, problem_info t3, submit_info sub1, submit_info sub2,
        user_info p1, user_info p2,  user_profile user1, user_profile user2
        where t1.exam_id = t2.exam_id and t1.problem_id = t3.prob_id and t1.submit_id1 = sub1.subm_id and t1.submit_id2 = sub2.subm_id
        and sub1.user_id = p1.user_id and p1.user_profile_id = user1.use_pro_id
        and sub2.user_id = p2.user_id and p2.user_profile_id = user2.use_pro_id
        and sub1.subm_id &lt; sub2.subm_id and t1.similarity &gt; #{sim} and t1.exam_id=#{exam_id}
    </select>
</mapper>
