<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.UserProfileDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_profile
        WHERE 1 = 1
        <if test="record.useProId != null">
            AND
            use_pro_id = #{record.useProId}
        </if>
        <if test="record.realName != null">
            AND
            real_name = #{record.realName}
        </if>
        <if test="record.isStudent != null">
            AND
            is_student = #{record.isStudent}
        </if>
        <if test="record.className != null">
            AND
            class_name = #{record.className}
        </if>
        <if test="record.studentNumber != null">
            AND
            student_number = #{record.studentNumber}
        </if>
        <if test="record.entranceYear != null">
            AND
            entrance_year = #{record.entranceYear}
        </if>
        <if test="record.majorId != null">
            AND
            major_id = #{record.majorId}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM user_profile
        WHERE 1 = 1
        <if test="record.useProId != null">
            AND
            use_pro_id = #{record.useProId}
        </if>
        <if test="record.realName != null">
            AND
            real_name = #{record.realName}
        </if>
        <if test="record.isStudent != null">
            AND
            is_student = #{record.isStudent}
        </if>
        <if test="record.className != null">
            AND
            class_name = #{record.className}
        </if>
        <if test="record.studentNumber != null">
            AND
            student_number = #{record.studentNumber}
        </if>
        <if test="record.entranceYear != null">
            AND
            entrance_year = #{record.entranceYear}
        </if>
        <if test="record.majorId != null">
            AND
            major_id = #{record.majorId}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from user_profile
        where use_pro_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from user_profile
        where use_pro_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>