<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.VisitPathDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM visit_path
        WHERE 1 = 1
            <if test="record.visPatId != null">
            AND
            vis_pat_id = #{record.visPatId}
        </if>
        <if test="record.url != null">
            AND
            url = #{record.url}
        </if>
        <if test="record.description != null">
            AND
            description = #{record.description}
        </if>
        <if test="record.roleIds != null">
            AND
            role_ids = #{record.roleIds}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.modifyUserId != null">
            AND
            modify_user_id = #{record.modifyUserId}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM visit_path
        WHERE 1 = 1
            <if test="record.visPatId != null">
            AND
            vis_pat_id = #{record.visPatId}
        </if>
        <if test="record.url != null">
            AND
            url = #{record.url}
        </if>
        <if test="record.description != null">
            AND
            description = #{record.description}
        </if>
        <if test="record.roleIds != null">
            AND
            role_ids = #{record.roleIds}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.modifyUserId != null">
            AND
            modify_user_id = #{record.modifyUserId}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from visit_path
        where vis_pat_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from visit_path
        where vis_pat_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </select>
    <select id="insertBatch" parameterType="java.util.Map">
        insert into visit_path
        (url, description, role_ids, create_time, modify_time, modify_user_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.url}, #{item.description}, #{item.roleIds}, #{item.createTime}, #{item.modifyTime}, #{item.modifyUserId})
        </foreach>
    </select>
</mapper>
