.input {
    border-radius: 0px;
}

.margin {
    margin-top: 30px;
}
.opration{
    margin-top: 3px;
    margin-bottom: 3px;
}

.emargin {
    margin-top: 30px;
    margin-left: 15px;
}

.width {
    width: 400px;
    height: 35px;
}

form {
    margin-left: 40px;
    margin-top: 40px
}

.a_color {
    color: #00A2D4;
}

p {
    display: inline-block;
}

p:hover {
    color: #357EBD;
    cursor: pointer;
}

.tent {
    margin-bottom: 30px;
}

#settingdata .modal-dialog {
    width: 1200px;
    height: 600px;
}

.main table {
    margin-top: 7px;
}