<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csswust.patest2.dao.ExamPaperDao">
    <sql id="custom_condition">
        ORDER BY exa_pap_id DESC
    </sql>
    <delete id="deleteByExamId" parameterType="java.util.Map">
        delete from exam_paper
        where exam_id = #{examId}
    </delete>
</mapper>